*{
    margin: 0px;
    padding: 0px;
}

@media (min-width:0px) { 
    header{
        text-align: center;
    }
    .nav-container{
        background-color: rgb(66, 66, 66);
    }

    .nav-inside{
        padding: 10% 3rem;
        
    }
    .nav-option{
        padding-top: 2rem;
    }
    .nav-option>ul>li{
        list-style: none;
        padding-bottom: 1rem;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: azure;
        
    }
    .header-banner{
        background-image: url("image/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* color:white; */
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        /* ================================================= */
    }
    .banner-inside, .Our-service-container{
        padding-left: 2rem;
        padding-right: 2rem;
        
    }
    .shortTextofTitle , .service-shorttext{
        font-family: 'Poppins', sans-serif;
        font-size: small;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
    }
    .headerbtn{
        background-color: orangered;
        color: white;
        border: none;
        border-radius: 0.5rem;
        height: 2.5rem;
        width: 6rem;
        font-weight: 400;
    }
    .headerbtn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .headerbtn:hover{
        background-color: transparent;
        color: black;
        border: 2px solid black;
        font-weight: 600;
    }
    /* =================================================================================================Header */
    .identyCard-main{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid red;
    }
    .Our-service-container{
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background-image: url("image/footer-bg2.png");
        background-color: rgb(27, 27, 27);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* padding: 20% 2rem; */
        padding-top: 5rem;
        padding-bottom: 5rem;

    }
    .ol-ourservice{
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        list-style-position: inside;
        list-style-type: decimal;
        padding-bottom: 8%;
    }
    .card-authorImg{
        border-radius: 50%;
        /* height: 20%; */
        width: 4rem;
    }
    #indentyCard-btn:hover {
        color: orangered;
        border: 2px solid orangered;
    }
    .indentyCard{
        padding-bottom: 4rem;
    }
    
    .indentyCard-btn{
        padding-top: 2rem;
    }
    .service-img-container{
        color: black;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        /* align-content: center; */
        gap: 1rem;
        column-gap: 0px;
    }
    .service1-img, .service2-img, .service3-img, .service4-img{
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 2px solid orangered;
        border-radius: 0.5rem;
        width: 8rem;
        padding: 1rem;
    }
    /* ==============================================Service Container done */
    .appointmentNews-parent{
        position: relative;
    }
    .phone-icon{
        width: 3rem;
        /* height: 2rem; */
    }
    .appointment-container{
        position: absolute;
        text-align: center;
        z-index: 1;
        margin: -2rem 2rem;
        /* margin: -2rem 2rem; */
    }
    .appointment-container-inside{
        border-radius: 0.5rem;
        background-color: rgba(255, 0, 0, 0.719);
        padding: 5rem 2rem;
    }
    .phone-numbertext{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }
    .cell-no{
        color: white;
        font-size: larger;
    }
    .appointment-text{
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: small;
    }
    .appointmentBtn{
        width: 10rem;
        height: 3rem;
        border-radius: 0.5rem;
        border: 2px solid black;
        color: black;
        background-color: rgb(251, 255, 0);
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        font-size: small;
    }
    .appointmentBtn:hover{
        background-color: darkgreen;
    }
    /* ================================================Appointment done */
    .news-container{
        position: relative;
        top: 27rem;
        text-align: center;
        padding: 6rem 2rem 5rem;
        background: rgb(60,60,60);
        background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgb(255, 255, 255) 50%, rgb(12, 12, 12) 100%);
        color: rgb(0, 0, 0);
       
        
    }
    .blog{
        color: rgb(175, 0, 0);
    }
    #blogTitle{
        font-size: 1.5rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
    .blogcard-Img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 10rem;
    }
    .blogCard{
        text-align: center;
        border-bottom: groove;
        padding: 1rem;
    }
    .blogCardTile{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;

    }
    .blogCard-msg{
        font-size: small;
    }
    .blogCardTile, .blogCard-msg{
        color: black;
        text-align: left;
    }
    .blogCardTile{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .news-card-container{
        background-color: gray;
        padding-top: 2rem;
        /* padding-bottom: 1rem; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .blogCard-arrow{
        width: 2rem;
        height: 2rem;
        padding-top: 1rem;
    }

    /* ============================================News and blog done */
    .footer-icon{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    footer{
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 5rem;
        padding-top: 30rem;
        background-color: rgb(0, 0, 0);
    }
    .footer-links-icon1{
        width: 1rem;
        height: 1rem;
        padding-right: 0.5rem;
    }
    .footer-msgTitle{
        font-weight: 900;
        font-size: 18px;
        color: rgb(199, 96, 0);
    }
    .footer-links{
        padding-top: 2.5rem;
    }
    /* ==================================================================================================================== */
    .footer-logo{
        width: 7rem;
        height: 2rem;
    }


   .footer{
    position: relative;
   }
   .footer-logo-container{
    z-index: 3;
   }
   .footer-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
   }
   #footer-msg{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
   }
   .footer-links > ul{
    display: flex;
    flex-direction: column;
   }
   .copyright-msg{
    color: rgb(153, 153, 153);
    padding-top: 5rem;
    border-bottom: 2rem;
    font-size: small;
   }
   
        

 }

 @media (min-width: 375px) {
    .ol-ourservice{
        font-size: 12px;
        
    }
    /* ==============================================Service Container done */
    .appointment-container{
        margin: -2rem 3rem;
    }
    .news-container{
        padding: 6rem 3rem 3rem;
    }
    


 }
 @media (min-width:425px) {
    /* ==============================================Service Container done */
    .appointment-text{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .appointment-container{
        margin: -2rem 4rem;
    }
    /* ===================================appointment done */
   .news-container{
    top: 28rem;
   }
   #blogTitle{
    font-size: 2rem;
   }
   .news-container{
        padding: 6rem 3.5rem 3rem;
    }
    /* ================================================Blog and News Done*/


 }
 @media (min-width:452px) {
   .news-container{
    top: 25rem;
   }

 }
 @media (min-width: 630px) {
    .ol-ourservice{
        font-size: 14px;
        
    }
    .headerbtn:hover{
        background-color: transparent;
        color: black;
        border: 3px solid black;
        font-weight: 600;
    }
    #indentyCard-btn:hover{
        background-color: transparent;
        color: orangered;
        border: 3px solid orangered;
        font-weight: 600;
    }

    .serviceTitle{
        font-size: 2rem;
    }
    .indentyCard-btn{
        padding-top: 0px;
    }
    .indentyCard-name{
        text-align: left;
    }
    .identyCard-main{
        padding-right: 2rem;
        padding-bottom: 0px;
        border-right: 4px solid red;
        border-bottom: none;
    }

    .indentyCard{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .service-img-container{
        grid-template-columns: repeat(2, 12rem);
        justify-content: center;
        align-content: center;
        gap: 1rem;
        column-gap: 2rem;
        padding-top: 2rem;
    } 
    /* ==============================================Service Container done */
    .icon-appointmentTxt-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 2rem;
        gap: 2rem;
    }
    .phonenumber-freeConsultation{
        padding: 0px;
    }
    .appointment-text{
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .phone-numbertext{
        padding-bottom: 0px;
    }
    .appointment-container-inside{
        border-radius: 0.5rem;
        padding: 5rem 4rem;
    }
    .appointment-container{
        margin: -2rem 5rem;
    }
    /* ======================================Appointment  done*/
    .news-container{
        top: 18.5rem;
    }
    .news-card-container{
        grid-template-columns: repeat(2, 1fr);
        /* gap: 0px; */
    }
    .blogCard{
        border-bottom: none;
        padding: 1rem;
    }
   /* ================================================Blog and News Done*/
   .footer-icon{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 2rem;
    height: 2rem;
    }
    footer{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 5rem;
    padding-top: 24rem;
    }
    .footer-logoMsg-container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .footer-links-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        padding-bottom: 4rem;
    }
    .footer-msg{
        justify-content: left;
    }
    #footer-msg{
        font-size: 18px;
    }
    .footer-links{
        padding-top: 0px;
    }
    .footer-links-container{
        padding-top: 3.5rem;
    }
    .footer-logo{
        width: 9rem;
        height: 3rem;
    }
 }
 @media (min-width:760px) {
    .banner-inside, .Our-service-container{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .card-authorImg{
        width: 6rem;
    }
    /* ==============================================Service Container done */
    .appointment-container{
        margin: -2rem 6rem;
    }
    .blogCard-arrow-container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 5rem;
        padding-top: 24rem;
    }
 }

 @media (min-width:1024px) {
    
    .nav-inside{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-option>ul{
        display: flex;
        justify-content: space-evenly;
        gap: 3rem;
    }
    .nav-option>ul>li{
        padding-bottom: 0px;
        
    }
    .nav-option{
        padding-top: 0px;
    }
    .nav-inside{
        padding: 0.5% 10%;
        /* Accurate Padding */
    }
    .header-banner{
        height: 100vh;
    }
    .banner-inside, .Our-service-container{
        padding-left: 6rem;
        padding-right: 6rem;
        
    }
    .headerTitle{
        font-size: 3rem;
    }
    .serviceTitle{
        font-size: 2.5rem;
    }
    .shortTextofTitle {
        font-size: 1rem;
    }
    .service-shorttext , .ol-ourservice{
        font-size: 14px;
    }
    .indentyCard-name{
        font-size: 16px;
    }
    .headerbtn{
        height: 3rem;
        width: 8rem;
        font-size: 14px;
        font-weight: 500;
    }
    .headerbtn-container{
        gap: 1.5rem;
    }
    .Our-service-container, .banner-inside{
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
    .Our-service-container{
        height: 100vh;
    }
    .indentyCard{
        padding-bottom: 0px;
        justify-content: left;
    }
    .service-img-container{
        grid-template-columns: repeat(2, 8rem);
        gap: 1rem;
        column-gap: 3rem;
        padding-top: 2rem;
    } 
    .serviceTextlist-container{
        text-align: left;
        
    }
    .Service-description{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .service1-img, .service2-img, .service3-img, .service4-img{
        height: 4rem;
        width: 4rem;
        padding: 1rem;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 3px solid orangered;
        border-radius: 1rem;
        width: 8rem;
        padding: 1.5rem;
    }
    .service-img-container{
        grid-template-columns: repeat(2, 12rem);
        justify-content: left;
        align-content: start;
        gap: 1rem;
        column-gap: 0.5rem;
        padding-top: 0px;
    }
    .service-title{
        font-weight: 700;
    }
    /* ==============================================Service Container done */
    .appointment-container-inside{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
    .appointmentBtn{
        padding-top: 0px;
        padding-bottom: 0px;
        width: 18rem;
        height: 3.5rem;
    }
    .appointment-container{
        margin: -3rem 6rem;
    }
    .appointment-text{
        font-size: small;
    }
    .icon-appointmentTxt-holder{
        padding: 0px;
    }
    .appointment-container-inside{
        border-radius: 1rem;
    }
    /* ===============================================Appointment done */
    .news-container{
        top: 12rem;
    }
    .news-card-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .blogCard-arrow-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }
    .blogCard-arrow{
        width: 2rem;
        height: 2rem;
        padding-top: 0px;
        
    }
    #blogTitle{
        font-size: 2.5rem;
        padding-bottom: 2.5rem;
        padding-top: 2rem;
    }
    .blogcard-Img{
        width: 14rem;
        height: 10rem;
    }
    .blogCard-arrow-container{
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .news-container{
        padding: 6rem 8rem 3rem;
    }
    .blogcard-Img{
        width: 14rem;
        height: 10rem;
    }

    .blogCardTile{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
    .blogCard-msg{
        font-size: small;
    }
    .blogCardTile, .blogCard-msg{
        color: black;
    }
    .blogCardTile{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-left: 8rem;
        padding-right: 8rem;
        padding-bottom: 2rem;
        padding-top: 18rem;
    }
    .footer-logo-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0px;
        gap: 3rem;
    }
    .footer-logoMsg-container{
        /* padding: 0px; */
        text-align: left;
    }
    .footer-icon{
        padding-left: 0px;
        padding-right: 1rem;
    }
    .footer-links-container{
        padding: 0px;
    }
    #footer-msg{
        font-size: medium;
    }
    /* ========================================= */
    .footer-logoMsg-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .footer-links{
        padding-top: 0px;
    }
    .footer-links > ul > li >a{
        padding-top: 1rem;
    }

    
 }
 @media (min-width:1180px) {
    footer{
        padding-left: 10rem;
        padding-right: 10rem;
    }
 }
 @media (min-width:1220px) {
    footer{
        padding-left: 12rem;
        padding-right: 12rem;
    }
 }

 @media (min-width:1440px) {
    .headerTitle{
        font-size: 4rem;
    }
    .serviceTitle{
        font-size: 3.5rem;
    }
    .shortTextofTitle, .service-shorttext{
        font-size: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .service-shorttext, .ol-ourservice{
        font-size: 20px;
    }
    .headerbtn{
        height: 4rem;
        width: 12rem;
        font-size: 18px;
        font-weight: 500;
    }
    .headerbtn-container{
        gap: 2rem;
    }
    a{
        font-size: 1.5rem;
    }
    .nav-inside{
        padding: 1% 10%;
    }
    .banner-inside{
        padding-left: 6rem;
        padding-right: 6rem;
        
    }
    .indentyCard-name{
        font-size: 1.5rem;
    }
    .Our-service-container, .banner-inside{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .service1-img, .service2-img, .service3-img, .service4-img{
        height: 8rem;
        width: 8rem;
        padding: 2rem;
    }
    .service-title{
        font-weight: bold;
        font-size: 20px;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 4px solid orangered;
        border-radius: 1.5rem;
        width: 12rem;
        padding: 1rem;
    }
    .service-img-container{
        grid-template-columns: repeat(2, 10rem);
        gap: 1rem;
        column-gap: 6rem;
        padding-top: 0px;
    } 
    .Service-description{
        gap: 7rem;
    }
    /* ==============================================Service Container done */
    .appointment-text{
        font-size: 20px;
    }
    .phone-numbertext{
        font-size: 24px;
    }
    .appointmentBtn{
        width: 24rem;
        height: 4.5rem;
        font-size: larger;
    }
    .appointment-container-inside{
        border-radius: 1.5rem;
        padding: 6rem;
    }
    /* =============================================Appointment Done */
    .news-container{
        top: 15rem;
        padding-bottom: 5rem;
    }
    #blogTitle{
        font-size: 3rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .blogcard-Img{
        width: 18rem;
        height: 14rem;
    }
    
    .blogCardTile{
        font-size: 18px;
    }
    .blogCard-msg{
        font-size: large;
    }
    .blogCard-arrow-container{
        padding-left: 12rem;
        padding-right: 12rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-top: 22rem;
        padding-bottom: 5rem;
    }
    .footer-msgTitle{
        font-size: x-large;
    }
    .footer-logo{
        width: 12rem;
        height: 4rem;
    }
    #footer-msg{
        font-size: x-large;
    }
    .footer-links > ul > li >a{
        padding-top: 2rem;
    }
    .copyright-msg{
        font-size: large;
    }
    .footer-links-icon1{
        width: 1.5rem;
        height: 1.5rem;
        padding-right: 1.5rem;
    }
    .footer-icon{
        width: 2.5rem;
        height: 2.5rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

 }
 @media (min-width:1701px) {
    .banner-inside{
        padding-left: 8rem;
        padding-right: 8rem;
        
    }
    .Our-service-container{
        padding-left: 14rem;
        padding-right: 14rem;
        
    }
    .shortTextofTitle, .service-shorttext, .ol-ourservice{
        font-size: 2rem;
        padding: 3rem 6rem;
    }
    .headerbtn{
        height: 6rem;
        width: 18rem;
        font-size: 30px;
        font-weight: 500;
    }
    .headerbtn-container{
        gap: 2.5rem;
    }
    a{
        font-size: 2rem;
    }
    .nav-inside{
        padding: 1.2% 10%;
    }
    .service1-img, .service2-img, .service3-img, .service4-img{
        height: 10rem;
        width: 10rem;
        padding: 2.5rem;
    }
    .service-title{
        font-weight: bold;
        font-size: 2rem;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 4px solid orangered;
        border-radius: 1.5rem;
        width: 18rem;
        padding: 1rem;
    }
    .service-img-container{
        grid-template-columns: repeat(2, 10rem);
        gap: 2rem;
        column-gap: 12rem;
        padding-top: 0px;
    } 
    .Service-description{
        gap: 8rem;
        
    }
    .service-shorttext, .ol-ourservice{
        font-size: 24px;
    }
    /* ==============================================Service Container done */
    .appointment-text{
        font-size: 26px;
    }
    .appointmentBtn{
        width: 38rem;
        height: 7.5rem;
        font-size: 1.5rem;
        border-radius: 1rem;
    }
    .phone-numbertext{
        font-size: 2rem;
    }
    .appointment-container-inside{
        padding: 8rem;
    }
    .phone-icon{
        height:4.5rem;
        width: 4.5rem;
    }
    /* ===============================================Appointment done */
    .news-container{
        top: 23rem;
    }
    #blogTitle{
        font-size: 4rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    
    .blogcard-Img{
        width: 24rem;
        height: 18rem;
    }

    .blogCardTile{
        font-size: 24px;
    }
    .blogCard-msg{
        font-size: 1.5rem;
    }
    .blogCard-arrow-container{
        padding-left: 14rem;
        padding-right: 14rem;
    }
    .blogCard-arrow{
        width: 3rem;
        height: 3rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-top: 32rem;
        padding-bottom: 5rem;
    }
    .footer-msgTitle{
        font-size: 30px;
    }
    .footer-logo{
        width: 12rem;
        height: 4rem;
    }
    #footer-msg{
        font-size: 26px;
    }
    .footer-links > ul > li >a{
        padding-top: 2rem;
    }
    .copyright-msg{
        padding-top: 8rem;
        font-size: x-large;
    }
    .footer-msg{
        font-size: 26px;
    }
    .footer-logo-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5rem;
    }
    .footer-links-icon1{
        width: 2rem;
        height: 2rem;
    }
    .footer-icon{
        width: 3rem;
        height: 3rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }
    
 }

 @media (min-width:2000px) {
    .Our-service-container{
        padding-left: 20rem;
        padding-right: 20rem;
        
    }
    .indentyCard-name{
        font-size: 2.5rem;
    }
    .serviceTitle{
        font-size: 4.5rem;
    }
    .card-authorImg{
        width: 8rem;
    }
    .Service-description{
        gap: 8rem;
        
    }
    .service-shorttext, .ol-ourservice{
        font-size: 28px;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 4px solid orangered;
        border-radius: 1.5rem;
        width: 18rem;
        height: 20rem;
        padding: 1.5rem;
    }
    .service-img-container{
        gap: 2rem;
        column-gap: 15rem;
    } 
    /* ==============================================Service Container done */
    .appointment-text{
        font-size: 32px;
    }
    .appointmentBtn{
        width: 38rem;
        height: 7.5rem;
        font-size: 2rem;
        border-radius: 1rem;
    }
    .phone-numbertext{
        font-size: 2.5rem;
    }
    .appointment-container-inside{
        padding: 10rem;
    }
    .phone-icon{
        height: 5rem;
        width: 5rem;
    }
/* ===============================================Appointment done */  
    .news-container{
        top: 29rem;
        padding-bottom: 10rem;

    }

    #blogTitle{
        font-size: 4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    
    .blogcard-Img{
        width: 24rem;
        height: 18rem;
    }
    .blogCard{
        padding: 3rem;
    }

    .blogCardTile{
        font-size: 24px;
    }
    .blogCard-msg{
        font-size: 1.5rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-top: 38rem;
        padding-bottom: 5rem;
    }
    .footer-msgTitle{
        font-size: 32px;
    }
    .footer-logo{
        width: 14rem;
        height: 4.5rem;
    }
    #footer-msg{
        padding-top: 3rem;
        font-size: 30px;
    }
    .footer-links > ul > li >a{
        padding-top: 2.5rem;
    }
    .copyright-msg{
        padding-top: 12rem;
    }
    .footer-msg{
        font-size: 30px;
    }

 }

 @media (min-width:2200px) {
    .headerTitle, .serviceTitle{
        font-size: 5rem;
    }
    .shortTextofTitle, .service-shorttext, .ol-ourservice{
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .headerbtn{
        height: 6rem;
        width: 18rem;
        font-size: 30px;
        font-weight: 500;
    }
    .headerbtn-container{
        gap: 2.5rem;
    }
    a{
        font-size: 2rem;
    }
    .nav-inside{
        padding: 1.2% 10%;
    }
    .banner-inside{
        padding-left: 12rem;
        padding-right: 12rem;
    }
    .Our-service-container{
        padding-left: 26rem;
        padding-right: 26rem;
        
    }
    .Service-description{
        gap: 12rem;
        
    }
    .service-shorttext, .ol-ourservice{
        font-size: 30px;
    }
    .service1, .service2, .service3, .service4{
        background-color: white;
        border: 6px solid orangered;
        border-radius: 1.5rem;
        width: 20rem;
        height: 22rem;
        padding: 1rem;
    }
    .service-img-container{
        gap: 2.5rem;
        column-gap: 16rem;
        
    } 
    /* ==============================================Service Container done */
    .appointment-text{
        font-size: 32px;
    }
    .appointmentBtn{
        width: 38rem;
        height: 8rem;
        font-size: 2rem;
        border-radius: 1rem;
    }
    .phone-numbertext{
        font-size: 2.5rem;
    }
    .appointment-container-inside{
        padding: 12rem;
    }
    .phone-icon{
        height: 5rem;
        width: 5rem;
    }
    /* ===============================================Appointment done */  
    .news-container{
    top: 33rem;
    }
    .blogCard-arrow{
        width: 4rem;
        height: 4rem;
    }
    #blogTitle{
        font-size: 5rem;
    }
    /* ================================================Blog and News Done*/
    footer{
        padding-left: 18rem;
        padding-right: 18rem;
        padding-top: 48rem;
        padding-bottom: 6rem;
    }
    .footer-msgTitle{
        font-size: 42px;
    }
    .footer-logo{
        width: 16rem;
        height: 5rem;
    }
    #footer-msg{
        padding-top: 3rem;
        font-size: 36px;
    }
    .footer-links > ul > li >a{
        padding-top: 2.5rem;
    }
    .copyright-msg{
        padding-top: 16rem;
        font-size: xx-large;
    }
    .footer-msg{
        font-size: 38px;
    }
    .footer-links-icon1{
        width: 2.5rem;
        height: 2.5rem;
    }
    .footer-icon{
        width: 3.5rem;
        height: 3.5rem;
        padding-right: 2.5rem;
        padding-top: 3rem;
    }
    
 }